


select top 100 * from [User]
select top 100 * from UserChallenge
select top 100 * from Repository
select top 100 * from [Commit]
select top 100 * from Contact
select top 100 * from EventLog