<?xml version="1.0" encoding="utf-8"?>

<appSettings file="env.appSettings.config">

    <add key="server.email-from" value="" />

    <add key="dcsRoot" value="#TBD" />
    <add key="env.dcs-db-conn" value="#TBD" />
    <add key="env.challenges-source-directory" value="#TBD" />
    <add key="env.website-href" value="#TBD" />

    <add key="env.builds-directory" value="#{dcsRoot}\builds" />
    <add key="env.temp-directory" value="#{dcsRoot}\temp" />
    <add key="env.bin-directory" value="#{dcsRoot}\bin" />
    <add key="env.expand-directory" value="#{dcsRoot}\expand" />
    <add key="env.user-repos-directory" value="#{dcsRoot}\user-repos" />
    <add key="env.user-downloads-directory" value="#{dcsRoot}\user-downloads" />
    <add key="env.ruby-bin" value="c:\Ruby193\bin" />
    <add key="env.solution-exec-username" value="DCSSolutionUser" />
    <add key="env.solution-exec-password" value="#{solutionExecPassword}" />
    <add key="env.solution-ports" value="40000-40099" />
    <add key="env.host-web-at-address" value="http://localhost:8280" />

    <add key="env.rabbitmq-server" value="localhost" />
    <add key="env.rabbitmq-username" value="DcsApp" />
    <add key="env.rabbitmq-password" value="#{rabbitMQPassword}" />

    <add key="smtp.test.host" value="127.0.0.1:1025" />

    <add key="smtp.real.host" value="" />
    <add key="smtp.real.username" value="" />
    <add key="smtp.real.password" value="" />
    
    <add key="git.server.private" value="" />
    <add key="git.server.public" value="" />
    <add key="git.projects-path" value="r/" />
    <add key="git.system-user.name" value="dcs-system" />
    <add key="git.system-user.email" value="" />
    <add key="git.system-user.password" value="design" />
    <add key="git.admin-user.name" value="admin" />
    <add key="git.admin-user.email" value="" />
    <add key="git.admin-user.password" value="admin" />
    <add key="git.protocol" value="http" />
    <add key="git.rpc-url" value="http://#{git.server.private}" />
    
</appSettings>